
.Rproj.user/D72E3284/cpp-definition-cache
.Rproj.user/D72E3284/pcs/files-pane.pper
.Rproj.user/D72E3284/pcs/source-pane.pper
.Rproj.user/D72E3284/pcs/windowlayoutstate.pper
.Rproj.user/D72E3284/pcs/workbench-pane.pper
.Rproj.user/D72E3284/rmd-outputs
.Rproj.user/D72E3284/saved_source_markers
.Rproj.user/D72E3284/sources/per/t/049A2CCC
.Rproj.user/D72E3284/sources/per/t/049A2CCC-contents
.Rproj.user/D72E3284/sources/per/t/9556B9B6
.Rproj.user/D72E3284/sources/per/t/9556B9B6-contents
.Rproj.user/D72E3284/sources/prop/E8BB891F
.Rproj.user/D72E3284/sources/prop/F216F59C
.Rproj.user/D72E3284/sources/prop/INDEX
.Rproj.user/shared/notebooks/C578D261-NEWS/1/D72E3284ED4F4C71/chunks.json
.Rproj.user/shared/notebooks/C578D261-NEWS/1/s/chunks.json
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
BioMonTools_SupportFiles.Rproj
*.json
.Rproj.user/D72E3284/sources/session-94F6500D/lock_file
.Rproj.user/D72E3284/sources/session-94F6500D/BA8BA913-contents
.Rproj.user/D72E3284/sources/session-94F6500D/BA8BA913
.Rproj.user/D72E3284/sources/session-94F6500D/9556B9B6-contents
.Rproj.user/D72E3284/sources/session-94F6500D/9556B9B6
.Rproj.user/D72E3284/sources/session-94F6500D/2C8E37C7-contents
.Rproj.user/D72E3284/sources/session-94F6500D/2C8E37C7
.Rproj.user/D72E3284/sources/session-94F6500D/049A2CCC-contents
.Rproj.user/D72E3284/sources/session-94F6500D/049A2CCC
.Rproj.user/D72E3284/sources/prop/82EE2539
.Rproj.user/D72E3284/sources/prop/2656EA94
.Rproj.user/D72E3284/sources/per/t/2C8E37C7
.Rproj.user/D72E3284/sources/per/t/2C8E37C7-contents
.Rproj.user/D72E3284/sources/per/t/BA8BA913
.Rproj.user/D72E3284/sources/per/t/BA8BA913-contents
.Rproj.user/D72E3284/viewer-cache/76D35FB8.Rdata
.Rproj.user/D72E3284/sources/per/t/31CDB008-contents
.Rproj.user/D72E3284/sources/per/t/31CDB008
.Rproj.user/D72E3284/sources/session-7e250bd7/lock_file
.Rproj.user/D72E3284/sources/session-7e250bd7/BA8BA913-contents
.Rproj.user/D72E3284/sources/session-7e250bd7/BA8BA913
.Rproj.user/D72E3284/sources/session-7e250bd7/9556B9B6-contents
.Rproj.user/D72E3284/sources/session-7e250bd7/9556B9B6
.Rproj.user/D72E3284/sources/session-7e250bd7/31CDB008-contents
.Rproj.user/D72E3284/sources/session-7e250bd7/31CDB008
.Rproj.user/D72E3284/sources/session-7e250bd7/049A2CCC-contents
.Rproj.user/D72E3284/sources/session-7e250bd7/049A2CCC
